# Build output
*.so
_build/
gotify-slack-webhook

# Verify against server mod list
gotify-server.mod

# Coverage reports
cover.*

# Grafana sample
grafana.json
sample.json

# Storage for development
_stor